html, body {
  margin: 0;
  height: 100%;
  display: block;
}

$white: #fff;
$theme-colors: (
  "light": #e4f2dd,
  "dark": #151e54,
  "primary": #719836,
  "secondary": #f59d30,
  "info": #6d8724,
  "success": #2eaa19,
  "warning": #fbc31a,
  "danger": #f30c51,
);

.footer {

  min-height: 10rem;
}

@import "~bootstrap/scss/bootstrap.scss";
