@import "custom";
@import "bootstrap_customizations";
@import "~bootstrap/scss/bootstrap.scss";

html,
body {
  margin: 0;
  height: 100%;
}

.footer {
  margin-top: 5rem;
  min-height: 10rem;
  padding-top: 1em;
  padding-bottom: 1em;
}
