{% load webpack_loader static %}
<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% stylesheet_pack 'app' %}

    <title>Hello, world!</title>
</head>
<body class="min-vh-100 position-relative">
<header>
    {% include 'navbar.html' %}
    <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
    </div>
</div>
</header>


<main class="container pb-5">

    {% block page_content %}{% endblock %}

</main>

{% include "footer.html" %}

{% javascript_pack 'app' attrs='charset="UTF-8"' %}

</body>
</html>