{% load webpack_loader static %}
<footer class="footer bg-info container-fluid bottom-0">
    <div class="container position-relative">
        <div class="row">
        <h4>Mitwirkende Vereine</h4>
        <div class="row">
            <div class="col">
                <img src="{% static 'vendors/images/dav-logo_ulm.png' %}" class="w-75"/>
            </div>
            <div class="col">
                <img src="{% static 'vendors/images/dav-logo_ulm.png' %}" class="w-75"/>
            </div>
            <div class="col">
                <img src="{% static 'vendors/images/dav-logo_ulm.png' %}" class="w-75"/>
            </div>
        </div>

    </div>
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </div>
</footer>