{% extends "base.html" %}

{% block page_content %}
    <h1>Sport- und Wettkampfklettergruppe</h1>
    <article>Unser Ziel ist es die motivierten und talentierten Kinder und Jugendlichen alters- und entwicklungsgemäß im
        Sportklettern zu fördern. Dabei steht der Spaß am Sport und der Bewegung im Vordergrund. Die Kinder und
        Jugendlichen die hieran Interessiert sind, bekommen die Chance auf eine optimale Betreuung durch uns Trainer.

        Neben regelmäßigem Training, sind auch Trainingsausfahrten und Wettkämpfe Bestandteil unseres Programms.

        Das Referat „Sport – und Wettkampfklettern“ ist eine Sektionsübergreifende Gruppe aller drei Ulmer Sektionen DAV
        Neu-Ulm, DAV Ulm, DAV Ulm SSV1846.
    </article>
    <div class=" row">
        <div class="col-lg-8">

            <h2>Der Auswahlkader</h2>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                    <h3>Trainings</h3>
                <p>Aktuell trainieren ca. 20 Kinder & Jugendliche in den Auswahlkadern.
                    Mit zwei Trainingsterminen pro Woche ist der Trainingsaufwand mit den Leistungskadern identisch.
                    Trainiert
                    wird in allen drei Disziplinen (Lead, Bouldern, Speed), angeleitet von überdurchschnittlich guten
                    Trainern C
                    und B Breiten- bzw. Wettkampfsport.
                    Die Trainer achten dabei auf einen altersgemäßen Rahmentrainingsplan. </p>
                <h3>Alterstruktur</h3>
                <p>
                    ca. 7–18 Jahre</p>
                <p>
                    Die Auswahlkader sind altersmäßig getrennt.
                </p>
                <h3>Trainingslager</h3>
                <p>Pro Jahr werden ein bis zwei Trainingslager in einer bekannten Kletterregion durchgeführt.
                </p>
                <h3>Gebühren</h3>
                <p>345 € pro Kalenderjahr (Training zweimal pro Woche je 2 Std.)
                </p>
                </div>

            </div>

            <h3>Anmeldung:</h3>

            Die Mitglieder des Auswahlkaders können sich über die Teilnahme an dem Oberlandcup und die damit verbundenen
            Wettkämpfe qualifizieren. Zudem ist die Anmeldung nur mit einem speziellen Anmeldeformular möglich. Es
            dürfen nur Kinder angemeldet werden, die die Voraussetzungen erfüllen und die der Sektion von den Trainern
            bestätigt werden.


        </div>
        <div class="col-lg-4">
            <div class="container bg-light p-3">
                <h3>Vorraussetzung</h3>
                <ul>
                    <li>Erfolgreiche Teilnahme an den Oberlandcups (<a href="/events/oberlandcup" target="_self"
                                                                       id="toPageId_oRPTMsGY3sO7isrHHXMUJQ-type_intern"
                                                                       class="intern">Infos</a>) und evt. sogar auch den
                        bayerischen Qualifikationswettkämpfen
                    </li>
                    <li>Hohe Motivation für den Wettkampf auf Landesebene und international</li>
                    <li>Freude am Leistungsklettern</li>
                    <li>Qualifikation über entsprechende Platzierungen bei den Oberlandcups</li>
                    <li>Mitgliedschaft bei den Sektionen München &amp; Oberland</li>
                </ul>
            </div>
        </div>

    </div>





{% endblock %}