{% extends 'base.html' %}
{% block page_content %}
    <h2>Trainer</h2>
    <div class="row">
        {% for tr in trainers %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{{ tr.image.url }}" class="card-img-top" alt="{{ tr.first_name }} profile picture"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ tr.first_name }} {{ tr.last_name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <h2>Athleten</h2>
    {% for athlete in athletes %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{{ athlete.image.url }}" class="card-img-top" alt="{{ athlete.first_name }} profile picture"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ athlete.first_name }} {{ athlete.last_name }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock page_content %}